<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragmentoprincipal :: head">

</head>

<body class="bodyEnlacesInteres">
    <nav th:replace="layouts/fragmentoprincipal :: nav"></nav>
    <div style="display: flex;margin: 8%;">
        <div class="list-group" style="  
    margin: 5%;
    text-align: center;
    width: 20%;">
            <a href="#" class="list-group-item list-group-item-action disabled" style="background-color: #5353c39c;
            color: black;
            font-weight: 800;
            font-size: 20px;">Artistas
                del Pueblo </a>
            <a href="https://catedramdelibes.com/autor/andres-de-la-morena-silvano/"
                class="list-group-item list-group-item-action">Silvano Andres de la Morena: Poeta Escritor e
                Investigador </a>
            <a href="https://ninacosart.wixsite.com/ninacosart" class="list-group-item list-group-item-action">Ñiñacos:
                Ignacio Beneitez Escultor Grabador</a>
            <a href="http://www.carmemunoz.com/" class="list-group-item list-group-item-action">Carme Muñoz: Fotografa y
                Grabadora</a>
            <a href="https://www.escritores.org/libros/index.php/item/luis-de-la-rasilla-sanchez-arjona"
                class="list-group-item list-group-item-action">Luis de la rasilla:
                Escritor, Profesor,Politologo</a>
            <a href="https://instagram.com/covachosss?igshid=YmMyMTA2M2Y="
                class="list-group-item list-group-item-action">Covachoss</a>

        </div>
        <div class="list-group" style="  
    margin: 5%;
    text-align: center;
    width: 20%;">
            <a href="#" class="list-group-item list-group-item-action disabled" style="background-color: #5353c39c;
                color: black;
                font-weight: 800;
                font-size: 20px;">Diputacion y Ayuntamiento </a>
            <a href="https://www.dipsoria.es/" class="list-group-item list-group-item-action ">Diputacion de Soria</a>

            <a href="http://www.montejodetiermes.es/" class="list-group-item list-group-item-action ">Ayuntamiento
                Montejo de Tiermes</a>
            <a href="https://www.jcyl.es/web/jcyl/Portada/es/Home/1246890364336/_/_/_"
                class="list-group-item list-group-item-action ">Junta Castilla y Leon</a>
        </div>
        <div class="list-group" style="  
    margin: 5%;
    text-align: center;
    width: 20%;">
            <a href="#" class="list-group-item list-group-item-action disabled" style="background-color: #5353c39c;
                color: black;
                font-weight: 800;
                font-size: 20px;">Turismo en la zona </a>
            <a href="https://www.airbnb.es/cuevas-de-ayllon-spain/stays"
                class="list-group-item list-group-item-action ">Donde dormir</a>
            <a href="https://www.escapadarural.com/que-hacer/cuevas-de-ayllon/donde-comer"
                class="list-group-item list-group-item-action ">Donde comer</a>
            <a href="https://www.sorianitelaimaginas.com/" class="list-group-item list-group-item-action ">Soria ni te
                la imaginas</a>
            <a href="https://www.facebook.com/SoriaNiTeLaimaginas/"
                class="list-group-item list-group-item-action ">Soria ni te
                la imaginas FaceBook</a>
            <a href="https://www.instagram.com/sorianitelaimaginas/?hl=es"
                class="list-group-item list-group-item-action ">Soria ni te
                la imaginas Instagram</a>


        </div>
    </div>
    <div th:replace="layouts/fragmentoprincipal :: footer"></div>
</body>


</html>