<!DOCTYPE html>
<html>

<head th:replace="layouts/fragmentoUsuarios :: head"></head>

<body class="bodyUsuario">

	<nav th:replace="layouts/fragmentoUsuarios :: nav"></nav>

	<div class="container py-4" id="registro" style="margin-left: 30%;
    margin-top: 5%;
    background-color: #d8852e99;
    border-radius: 10px;
    width: 40%;">


		<div th:if="${message}">
			<h2 th:text="${message}" />
		</div>


		<form method="POST" enctype="multipart/form-data" th:action="@{/subirDocumento}" class="text-dark" style="width: 150%;
        padding: 30px;">

			<div class="row col-sm-6">
				<label form="file" class="col-form-label col-sm-6" style="font-family: sans-serif;
	font-style: oblique;
	font-weight: bold;
	font-size: larger;">Titulo</label>
			</div>
			<div class="row col-sm-4">
				<input type="text" id="titulo" name="titulo" class="form-control" />
			</div></br></br>

			<div class="row col-sm-6">
				<label form="file" class="col-form-label col-sm-6" style="font-family: sans-serif;
				font-style: oblique;
				font-weight: bold;
				font-size: larger;">Subir documento</label>
			</div>

			<div class="row col-sm-4">
				<input type="file" id="file" name="file" class="form-control" />
			</div></br></br>
			<div class="row col-sm-2">
				<input type="submit" value="Upload" class="btn " style="color: #eeeeee;background-color: #463232a3;" />
			</div>

		</form>
		<div class="row col-sm-2">

			<a type="button" value="Volver" th:href="@{/toUsuario}" class="btn "
				style="color: #eeeeee;background-color: #463232a3;margin-left: 20%;margin-bottom: 21%;">Volver</a>
		</div>


	</div>
</body>

</html>