<!DOCTYPE html>
<html>

<head th:replace="layouts/fragmentoprincipal :: head">

</head>

<body class="bodyGaleria">

  <nav th:replace="layouts/fragmentoprincipal :: nav">

  </nav>


  <div id="div2" style="margin-top: 2%; margin-left: 9%; width: 80%;">
    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal13">
          <img src="imagenes/13.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg13" alt="Responsive image" role="button">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal8">
          <img src="imagenes/8.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg8" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal24">
          <img src="imagenes/24.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg24" alt="Responsive image">
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal22">
          <img src="imagenes/22.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg22" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal23">
          <img src="imagenes/23.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg23" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal3">
          <img src="imagenes/3.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg3" alt="Responsive image">
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal1">
          <img src="imagenes/1.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg1" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal2">
          <img src="imagenes/2.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg2" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal15">
          <img src="imagenes/15.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg15" alt="Responsive image">
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal4">
          <img src="imagenes/4.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg4" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal5">
          <img src="imagenes/5.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg5" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal6">
          <img src="imagenes/6.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg6" alt="Responsive image">
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal7">
          <img src="imagenes/7.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg7" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal14">
          <img src="imagenes/14.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg14" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal9">
          <img src="imagenes/9.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg9" alt="Responsive image">
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal10">
          <img src="imagenes/10.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg10" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal11">
          <img src="imagenes/11.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg11" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal12">
          <img src="imagenes/12.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg12" alt="Responsive image">
        </a>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal25">
          <img src="imagenes/25.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg25" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal26">
          <img src="imagenes/26.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg26" alt="Responsive image">
        </a>
      </div>
      <div class="col-lg-4 ">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal27">
          <img src="imagenes/27.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 500px;
          width: 900px;" id="galeriaImg27" alt="Responsive image">
        </a>
      </div>
    </div>
  </div>





  <div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/1.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg1" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal2" aria-hidden="true" class="modal fade" id="modal2">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/2.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg2" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal3" aria-hidden="true" class="modal fade" id="modal3">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/3.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg3" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal4" aria-hidden="true" class="modal fade" id="modal4">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/4.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg4" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal5" aria-hidden="true" class="modal fade" id="modal5">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/5.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg5" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal6" aria-hidden="true" class="modal fade" id="modal6">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/6.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg6" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal7" aria-hidden="true" class="modal fade" id="modal7">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/7.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg7" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal8" aria-hidden="true" class="modal fade" id="modal8">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/8.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg8" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal9" aria-hidden="true" class="modal fade" id="modal9">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/9.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg9" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal10" aria-hidden="true" class="modal fade" id="modal10">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/10.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg10" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal11" aria-hidden="true" class="modal fade" id="modal11">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/11.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg11" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal12" aria-hidden="true" class="modal fade" id="modal12">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/12.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg12" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal13" aria-hidden="true" class="modal fade" id="modal13">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/13.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg13" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal14" aria-hidden="true" class="modal fade" id="modal14">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/14.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg14" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal15" aria-hidden="true" class="modal fade" id="modal15">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/15.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg15" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal16" aria-hidden="true" class="modal fade" id="modal16">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/16.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg16" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <!-- <div tabindex="-1" aria-labelledby="modal17" aria-hidden="true" class="modal fade" id="modal17">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/17.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg17" alt="Responsive image" role="button">
      </div>

    </div> -->
  <!-- </div>
  <div tabindex="-1" aria-labelledby="modal18" aria-hidden="true" class="modal fade" id="modal18">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/18.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg18" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  </div> -->
  <div tabindex="-1" aria-labelledby="modal19" aria-hidden="true" class="modal fade" id="modal19">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/19.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg19" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <!-- <div tabindex="-1" aria-labelledby="modal20" aria-hidden="true" class="modal fade" id="modal20">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/20.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg20" alt="Responsive image" role="button">
      </div>
    </div>
  </div> -->
  <div tabindex="-1" aria-labelledby="modal21" aria-hidden="true" class="modal fade" id="modal21">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/21.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg21" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal22" aria-hidden="true" class="modal fade" id="modal22">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/22.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg22" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal23" aria-hidden="true" class="modal fade" id="modal23">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/23.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg23" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal24" aria-hidden="true" class="modal fade" id="modal24">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/24.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg24" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal25" aria-hidden="true" class="modal fade" id="modal25">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/25.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg25" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal26" aria-hidden="true" class="modal fade" id="modal26">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/26.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg26" alt="Responsive image" role="button">
      </div>

    </div>
  </div>
  <div tabindex="-1" aria-labelledby="modal27" aria-hidden="true" class="modal fade" id="modal27">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal.content">
        <img src="imagenes/27.jpg" class="img-fluid" style="border-radius:30px;padding:10px;
          height: 700px;
          width:  1024px;" id="galeriaImg27" alt="Responsive image" role="button">
      </div>
    </div>
  </div>




  <!-- <footer th:replace="layouts/fragmentoprincipal :: footer"></footer> -->


</body>
<script>
  $(document).ready(function script() {

    $.ajax({

      type: 'GET',
      url: "fotosGaleria",



    }).done(function (data) {
      var html = '';
      html += ' <div id="div2" style="mlengthargin-top: 2%; margin-left: 9%; width: 80%;">';
      html += ' <div class="row ">';
      for (var i = 0; i < data.length; i++) {
        console.log(' estas son las fotos que recogemos' + data[i].fotos)
        html += '   <div class="col-lg-4 ">';
        html += '     <a href="#" data-bs-toggle="modal" data-bs-target="#modal' + [28+i] + '">';
        html += '       <img src="uploadsGaleria/' + data[i].fotos + '" class="img-fluid" style="border-radius:30px;padding:10px;';
        html += '       height: 500px;';
        html += '       width: 900px;" id="galeriaImg' + data[i].fotos + '" alt="Responsive image" role="button">';
        html += '     </a>';
        html += '   </div>';
        

      }
      html += ' </div>';
      html += ' </div>';
      $('body').append(html);
      var html1 = '';
      for (var i = 0; i < data.length; i++) {
       
        html1 += '   <div tabindex="-1" aria-labelledby="modal" aria-hidden="true" class="modal fade" id="modal' + [28+i] + '">';
        html1 += '     <div class="modal-dialog modal-lg modal-dialog-centered">';
        html1 += '       <div class="modal.content">';
        html1 += '         <img src="uploadsGaleria/' + data[i].fotos + '" class="img-fluid" style="border-radius:30px;padding:10px;';
        html1 += '           height: 700px;';
        html1 += '           width:  1024px;" id="galeriaImg' + data[i].fotos + '" alt="Responsive image" role="button">';
        html1 += '       </div>';
        html1 += '     </div>';
        html1 += '   </div>';
       
      }

      $('body').append(html1);

    }).fail(function () {
      console.log("Fallo!");
    })
      .always(function () {
        console.log("Completo!");
      });
  })
</script>

</html>