<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts/fragmentoUsuarios :: head"></head>

<body class="bodyAdministradores">
    <nav th:replace="layouts/fragmentoUsuarios :: nav"></nav>



    <div class="container" style="margin-top: 10%;">

        <table class="table table-bordered"  style="background-color: #b48823f0;
        font-size: 20px;
        text-align: center;
        font-weight: bold;">

            <thead class="thead-dark">
                <tr >
                    <th scope="col">idPropuesta</th>
                    <th scope="col">Fecha </th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Borrar</th>


                </tr>
            </thead>
            <!-- <div class="container" style="background-color:white;" th:if="${usuarioBorrado}"
                th:text="${usuarioBorrado}"></div> -->
            <tr th:each="propuesta:${listaPropuestas}">

                <td th:if="${propuesta.idPropuesta}" th:text="${propuesta.idPropuesta}"></td>
                <td th:if="${propuesta.fecha}" th:text="${propuesta.fecha}"></td>
                
                <td th:if="${propuesta.fecha == null}" th:text="'sin fecha'"></td>
                <td  th:if="${propuesta.titulo}" th:text="${propuesta.titulo}"></td>

                <td  th:if="${propuesta.usuario.nombre}" th:text="${propuesta.usuario.nombre}"></td>


                <form th:action="@{/borrarPropuesta}" method="post">

                    <input type="hidden"  name="idPropuesta" th:value="${propuesta.idPropuesta}">



                    <td ><input type="submit" style="margin: 10px;color: #eeeeee;" class="btn btn-dark" value="Borrar Propuesta"></td>
                </form>


            </tr>

        </table>

        <div class="row col-sm-2">

            <a type="button" value="Volver" th:href="@{/toUsuario}" class="btn "
                style="color: #eeeeee;background-color: #463232a3;margin-left: 4%;">Volver</a>
        </div>

    </div>


</body>

</html>