<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts/fragmentoUsuarios :: head"></head>

<body class="body">
    <nav th:replace="layouts/fragmentoUsuarios :: nav"></nav>



    <div class="container">

        <table class="table table-bordered">

            <thead class="thead-dark">
                <tr class="bg-primary">
                    <th scope="col">idPropuesta</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Borrar</th>


                </tr>
            </thead>
            <!-- <div class="container" style="background-color:white;" th:if="${usuarioBorrado}"
                th:text="${usuarioBorrado}"></div> -->
            <tr th:each="propuesta:${listaPropuestas}">

                <td class="bg-info" th:if="${propuesta.idPropuesta}" th:text="${propuesta.idPropuesta}"></td>

                <td class="bg-info" th:if="${propuesta.titulo}" th:text="${propuesta.titulo}"></td>

                <td class="bg-info" th:if="${propuesta.usuario.nombre}" th:text="${propuesta.usuario.nombre}"></td>


                <form th:action="@{/borrarPropuesta}" method="post">

                    <input type="hidden" name="idPropuesta" th:value="${propuesta.idPropuesta}">



                    <td class="bg-info"><input type="submit" value="Borrar Propuesta"></td>
                </form>


            </tr>

        </table>

        <div class="row col-sm-2">

            <a type="button" value="Volver" th:href="@{/toUsuario}" class="btn "
                style="color: #eeeeee;background-color: #463232a3;margin-left: 4%;">Volver</a>
        </div>

    </div>


</body>

</html>