<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts/fragmentoUsuarios :: head"></head>

<body class="bodyAdministradores">
    <nav th:replace="layouts/fragmentoUsuarios :: nav"></nav>



    <div class="container" style="margin-top: 10%;">

        <table class="table table-bordered" style="background-color: #b48823f0;
        font-size: 20px;
        text-align: center;
        font-weight: bold;">

            <thead class="thead-dark">
                <tr >
                    <th scope="col">Propuesta</th>
                    <th scope="col">Puntuacion Total</th>
                    <th scope="col">Borrar Puntuacion Total</th>
                    


                </tr>
            </thead>
            <!-- <div class="container" style="background-color:white;" th:if="${usuarioBorrado}"
                th:text="${usuarioBorrado}"></div> -->
            <tr th:if="${listaPuntuaciones}" th:each="propuesta:${listaPuntuaciones}">

                
                
                <td  th:if="${propuesta.propuesta}" th:text="${propuesta.propuesta}"></td>

                <td  th:if="${propuesta.puntuacion}" th:text="${propuesta.puntuacion}"></td>
                <td  th:if="${propuesta.puntuacion}==0" th:text="'0'"></td>
                <form th:action="@{/borrarPuntuacion}" method="post">

                    <input type="hidden" name="idPuntuacion" th:value="${propuesta.id_total}">



                    <td ><input type="submit" style="margin: 10px;color: #eeeeee;" class="btn btn-dark" value="Borrar Puntuacion total"></td>
                </form>


            </tr>

        </table>

        <div class="row col-sm-2">
               
            <a type="button"  value="Volver" th:href="@{/toUsuario}" class="btn btn-dark" style="color: #eeeeee;background-color: #463232a3;margin-left: 4%;">Volver</a>
        </div>

    </div>


</body>

</html>