<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
  <title>Cuevas de Ayllón tablon de anuncios</title>
  <meta charset="UTF-8">
  <script th:src="@{/js/jquery.min.js}"></script>
  <link href="css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body class="bodyAnuncios">

  <nav th:replace="layouts/fragmentoprincipal :: nav"></nav>
<div>
  <h3 style="text-align: center;
    color: #000000;
    font-family: cursive;
    width: 25%;
    background-color: #d7c035c2;
    margin-left: 37%;
    border-radius: 10px;
    margin-bottom: 3%;
    /* margin: 3%; */
    margin-top: 1%;">Tablón Anuncios de Cuevas de Ayllón</h3>
  <div class="container" style="
    width: 100%;
    border-radius: 8px;    
    background-color: #eae21eb0;  
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 70%);
    margin-bottom: 5%;">
    <!-- <div class="container" th:object="${unUsuario}">
                <legend>Informacion Usuario</legend> -->
    <table style="width: 100%;" id="g-table">
      <thead>

      </thead>
      <tbody th:if="${listaAnuncios}" th:each="anuncio : ${listaAnuncios}">
        <tr >
          <td th:if="${anuncio.titulo_anuncio}" th:text="${anuncio.titulo_anuncio}" style="width: 100%;
          margin: 10px;
          font-size: 30px;
          
          resize: none;
          color: white;
          padding-left: 1%;">
          </td>
          <td th:if="${anuncio.fecha}" th:text="${anuncio.fecha}" style="margin-bottom:10px;color: white;
          padding-right: 1%;"></td>
        </tr>
        <tr>
          <td th:if="${anuncio.anuncio}" style="width: 100%;">
            <textarea disabled th:text="${anuncio.anuncio}" style="width: 100%;
            font-size: 20px;
            margin: 10px;
            overflow: hidden;
            resize: vertical;
            height:250px;
            background-color: white;
            border-radius: 7px;
            padding: 10px"></textarea>
          </td>

        <tr>
          <td th:if="${anuncio.foto_anuncio}" style="text-align: center;"><img th:if="${anuncio.foto_anuncio}" class="img-thumbnail  "
              style=" margin: 10px; border-radius: 8px;" th:src="@{'/uploadsAnuncios/'+${anuncio.foto_anuncio}}"
              th:alt="${anuncio.foto_anuncio}" />
          </td>

        </tr>
        <tr style="height: 90px;">
          <td style="border-color: antiquewhite;"></td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>

  <div th:replace="layouts/fragmentoprincipal :: footer"></div> 

</body>
<style>
  #g-table tbody tr > td{
                    
                    height: 30px;
                    padding-left: 3px;
                }
                #g-table{
                    padding-left: 40px;
                    margin-top: 20px;

                }
                .espacio{
					height:10px;
				}
</style>

</html>